# sphinx
# sphinx-rtd-theme
fastapi
uvicorn[standard]
SQLAlchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
twilio
pydantic
pytest
openai
pytesseract
psutil
Flask
apscheduler
# openai-whisper
# torch
loguru
flask 
google-auth-oauthlib 
google-api-python-client 
requests